[submodule "qinfo"]
	path = qinfo
	url = git@github.com:El-Wumbus/qinfo.git
[submodule "I-Hate-Linux-Shells"]
	path = I-Hate-Linux-Shells
	url = git@github.com:El-Wumbus/I-Hate-Linux-Shells.git
[submodule "udl"]
	path = udl
	url = git@github.com:El-Wumbus/udl.git
